* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Source Sans Pro", sans-serif; */
  }
  
.fab{
    font-size: 35px;
    padding-right: 10px;
    
    margin-left: 30px;
    margin-right: 30px;
}
.fas:hover{
    
  color:blue;
}
.fab:hover{
    
    color:blue;
  }
.fas{
    font-size: 35px;
    padding-right: 10px;
    
    margin-left: 30px;
    margin-right: 30px;
}
.btn{
    border: 2px solid;
    border-radius: 1.5rem;
}
